<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${film.titre}">Detail du film</title>
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
</head>
<body>
<h1 th:text="${film.titre}">Titre du film</h1>
<h2>Note : <span th:text="${film.note}">0</span></h2>
<!--<h2>Nom : <span th:text="${film.afficheNom}">fichier affiche</span></h2>-->
<!--DONE A la place du nom de l'image, on voudrait afficher l'image-->
<!--<img src="file://C:/Users/CDI/Desktop/affiches/ben-hur.jpg" />&lt;!&ndash;th:src="@{'C:\Users\CDI\Desktop\affiches\\' + ${film.afficheNom}}"&ndash;&gt;-->
<!-- ATTENTION: il faut s'assurer que les ressources statiques (images, et autres documents) soient placées dans le dossier 'static' -->
<img th:src="'/affiche/'+${film.getAfficheNom()}">
</body>
</html>
