<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${film.getTitre()}">Detail du film</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1 th:text="${film.getTitre()}">Titre du film</h1>
<h2>Note : <span th:text="${film.getNotation()}">0</span></h2>
<img th:src="'/affiche/'+${film.getAffiche()}">
<!-- 50em correspond à 100% de la longueur d'origine -->

<ul th:each="role : ${film.getRoles()}">
    <a th:href="'/acteur/'+${role.getActeur().getPhotoPath()}" th:text="${role.getActeur().getPrenom()+' '+role.getActeur().getNom()}">acteur</a>
</ul>
</body>
</html>
