<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>

    <div th:replace="fragments/header :: entetecss" />
</head>
<body>
<div th:replace="fragments/header :: header"/>

<!-- Test jumbotron -->
<!--<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>-->

<!-- BLABLABLA TEST -->
<h1 class="accueil" th:text="'Bonjour ' + ${nom}">Hello <b>CDA</b></h1><br>
<h2 class="accueil">Voici une liste des films :</h2>

<p>
<!-- Liste des films affichés dans une liste -->
<!--<ul>
    <li th:each="film : ${films}">
        <a th:text="${film.getTitre()}" th:href="@{'/film/' + ${film.getId()}}">Le grand film</a>
        <img th:src="'/affiche/'+${film.getAffiche()}">
    </li>
</ul>-->

<table><!-- Liste des films affichés dans un tableau -->
    <tbody th:each="film : ${films}">
        <tr>
            <td class="centretext"><a th:text="${film.getTitre()}" th:href="@{'/film/' + ${film.getId()}}">Le grand film</a></td>
        </tr>
        <tr>
            <td><a th:href="@{'/film/' + ${film.getId()}}"><img class="centre" th:src="'/affiche/'+${film.getAffiche()}"></a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>

<!-- # EXEMPLE DE TEST # -->
<!--<table>
    <caption>Passagers du vol 377</caption>

    <thead> &lt;!&ndash; En-tête du tableau &ndash;&gt;
    <tr>
        <th>Nom</th>
        <th>Âge</th>
        <th>Pays</th>
    </tr>
    </thead>

    <tfoot> &lt;!&ndash; Pied de tableau &ndash;&gt;
    <tr>
        <th>Nom</th>
        <th>Âge</th>
        <th>Pays</th>
    </tr>
    </tfoot>

    <tbody> &lt;!&ndash; Corps du tableau &ndash;&gt;
    <tr>
        <td>Carmen</td>
        <td>33 ans</td>
        <td>Espagne</td>
    </tr>
    <tr>
        <td>Michelle</td>
        <td>26 ans</td>
        <td>États-Unis</td>
    </tr>
    <tr>
        <td>François</td>
        <td>43 ans</td>
        <td>France</td>
    </tr>
    <tr>
        <td>Martine</td>
        <td>34 ans</td>
        <td>France</td>
    </tr>
    <tr>
        <td>Jonathan</td>
        <td>13 ans</td>
        <td>Australie</td>
    </tr>
    <tr>
        <td>Xu</td>
        <td>19 ans</td>
        <td>Chine</td>
    </tr>
    </tbody>
</table>-->

<!-- TODO Intégrer la recherche 1 -->
<!--
<form method="post" th:action="'/affiche/'">
    <input type="text" placeholder="Film à rechercher" name="filmNameSearch"/>
    <input type="submit" value="Chercher"/>
</form>-->
</p>

<!--/*Cette partie sera ignorée par le serveur-->
<ul>
    <li>Film 2</li>
    <li>Film 3</li>
    <li>Film 4</li>
    <li>Film 5</li>
    <li>Film 6</li>
    <li>Film 7</li>
    <li>Film 8</li>
</ul>
<!--*/-->

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer :: scriptsjs"/>
</body>
</html>